html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Bevan", serif;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.tab {
  font-family: sans-serif;
  color: #fff;
  display: block;
  text-align: center;
}

div {
  background-color: #79756f;
  padding-bottom: .75em;
  border: 5px solid #595652;
}

.tab a {
  display: inline-block;
  background-color: #713837;
  padding: .5em;
  border-radius: 4px;
  margin: .3em;
  max-width: 20em;
}

.tab a:hover {
  background-color: #f33;
}
